@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;500&display=swap');

:root {
    // --primary-color: #2e3047; 
    // --secondary-color: #f2f2f2;
    // --accent-color: #3bba9c;
    --primary-color: #2d3032; 
    --secondary-color: #f2f2f2;
    --accent-color: #9615db;
    --thin-font: 100;
    --norm-font: 300;
    --bold-font: 500
}

header, body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background: var(--primary-color);
}

.navbar {
    background: white;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 95%;

    .nametag {
        text-decoration: none;
        font-weight: var(--bold-font);
        color: black;
        font-size: 1.9em;
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }
    
    .mobile-menu {
        cursor: pointer;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em, 2em;
}

.hero {
    text-align: center;
    .container {
        width: auto;
        height: auto;
    }
}

.round-profile {
    padding: 8em 5em 2em;
    img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        border: 2px solid white
      }
}

.about-blurb {

    color: white;
    h1 {
        font-size: 2em;
        font-weight: var(--bold-font);
        margin: 0;
    }
    h2 {
        margin: 0.2em;
        font-size: 1.5em;
        font-weight: var(--thin-font);
        color: var(--accent-color);
    }

    p{
        margin: 0.8em;
        padding: 0em 1em;
    }
}

hr.solid {
    border-top: 2px solid #000;
}

.skills-section {
    background: var(--secondary-color);
}